
.profile
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 30%;
    font-size: 16px;
}


